<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=DESKTOP-SCOJA47\DELL;Initial Catalog=DocExpiryDB;User ID=sa;Password=sql123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!-- Session Timeout (Optional) -->
    <sessionState timeout="200"/>
    <!-- Authentication (Optional but helpful if using login controls) -->
    <authentication mode="Forms"/>
  </system.web>
  <!-- SMTP Settings for EmailSender.cs (Optional unless sending email) -->
  <system.net>
    <mailSettings>
      <smtp from="phoenixeco2@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="phoenixeco2@gmail.com" password="mqrw qbcm rzpc bsac" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
<appSettings>
  <add key="SMTPUser" value="phoenixeco2@gmail.com"/>
  <add key="SMTPPass" value="mqrw qbcm rzpc bsac"/>
  <!-- Use Gmail App Password -->
  
  </appSettings>
</configuration>